# /etc/radvd.conf - router advertisement configuration for IPv6

interface {{ router.dhcp.interface }} {
   AdvSendAdvert on;
   MinRtrAdvInterval 3;
   MaxRtrAdvInterval 10;
   prefix ::/64 {
     AdvOnLink on;
     AdvAutonomous on;
     AdvRouterAddr on;
     AdvValidLifetime 3600;
     AdvPreferredLifetime 3600;
   };
   RDNSS 2606:4700:4700::1113 2606:4700:4700::1003 {
     AdvRDNSSLifetime 3600;
   };
};
