{% if router.dhcp.interface is defined %}
{% set intf = ansible_facts | json_query(router.dhcp.interface) %}
{% else %}
{% set intf = ansible_facts | json_query(ansible_facts.default_ipv4.alias) %}
{% endif %}
{%- set ipv4 = (intf.ipv4.address + '/' + intf.ipv4.netmask) | ansible.utils.ipaddr('address') -%}
# snmpd.conf

# SECTION: System Information Setup

sysLocation    {{ router.snmp.location | default('Sitting on the Dock of the Bay') }}
sysContact     {{ router.snmp.contact | default('Me <me@example.org>') }}
sysServices    72

# SECTION: Agent Operating Mode

master       agentx
agentaddress {{ ipv4|default('127.0.0.1') }}

# SECTION: Access Control Setup

view   all         included   .1
#view   systemonly  included   .1.3.6.1.2.1.1
#view   systemonly  included   .1.3.6.1.2.1.25.1

rocommunity  {{ router.snmp.community | default('public') }} default -V all
rocommunity6 {{ router.snmp.community | default('public') }} default -V all
