# snmpd.conf

# SECTION: System Information Setup

sysLocation    {{ snmp.location | default('Sitting on the Dock of the Bay') }}
sysContact     {{ snmp.contact | default('Me <me@example.org>') }}
sysServices    72

# SECTION: Agent Operating Mode

master  agentx
agentaddress  127.0.0.1,[::1]

# SECTION: Access Control Setup

view   all         included   .1
#view   systemonly  included   .1.3.6.1.2.1.1
#view   systemonly  included   .1.3.6.1.2.1.25.1

rocommunity  {{ snmp.community | default('public') }} default -V all
rocommunity6 {{ snmp.community | default('public') }} public default -V all
