# This file holds shared secrets or RSA private keys for authentication.

{% for item in interface|list %}{% if item.startswith('vti') %}
{% set intf = interface | json_query(item) %}
{% for word in intf.inet.config.split() if "." in word %}{% set remote = word %}
{{ remote }} : PSK "{{ intf.psk }}"
{% endfor %}{% endif %}{% endfor %}
